* {
    font-family: 'Goldman', cursive;
}

h1, p, h3, form {
    margin-left: 20%;
    margin-right: 20%;
}

main {
    margin-top: 4%;
}

h6 {
    color: white;
}

/* p {
    margin-left: 20%;
} */

.btn-primary {
    background-color: rgb(66 39 111);
    border-color: rgb(66 39 111);
}

.btn-primary:hover {
    color: #fff;
    background-color: #8875e6;
    border-color: #8875e6;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(160, 117, 230, 0);
    border-color: #8875e600;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #8875e6;
    border-color: #8875e6;
}

hr {
    margin: 5px 18% 5px 18%;
    background: darkgray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

h5 {
    margin-left: 20%;
    color: darkgray;
}

.text-center {
    text-align: center;
}

.center {
    left: 38%;
    top: 15px;
}

.beefyFont {
    margin-top: 15px;
    text-align: left;
    word-wrap: break-word;
    font-size: 26px;
    font-weight: bolder;
}